@font-face {
  font-family: DM sans Regular;
  src: url(/fonts/DMSans_18pt-Regular.ttf) format("ttf");
}
@font-face {
  font-family: DM-sans-Bold-Italic;
  src: url(/fonts/DMSans_18pt-BoldItalic.ttf) format("ttf");
}

.b {
  font-family: DM-sans-Bold-Italic, sans-serif;
  font-style: italic;
}
.r {
  font-family: DM sans Regular, sans-serif;
  font-weight: 100;
}

.titleSection {
  height: 100vh;
  gap: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    z-index: 10;
    width: fit-content;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  img {
    width: 35vw;
    height: 20vw;
    z-index: -1;
  }
}
.projectInfos {
  display: flex;
  justify-content: space-between;
  align-items: start;
  &Images {
    width: 60vw;
    img {
      width: 90%;
      height: auto;
    }
  }
  &Description {
    width: 40vw;
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .stacks {
      display: flex;
      gap: 1rem;
    }
    p {
      font-size: 1.2rem;
      margin-left: 2rem;
      max-width: 30vw;
    }
    a {
      text-decoration: none;
      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 10px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          background-color: #161616;
          color: #fff;
        }
      }
    }
  }
}
