@font-face {
  font-family: DM sans Regular;
  src: url(/fonts/DMSans_18pt-Regular.ttf) format("ttf");
}
@font-face {
  font-family: DM-sans-Bold-Italic;
  src: url(/fonts/DMSans_18pt-BoldItalic.ttf) format("ttf");
}

.b {
  font-family: DM-sans-Bold-Italic, sans-serif;
  font-style: italic;
}
.r {
  font-family: DM sans Regular, sans-serif;
  font-weight: 100;
}

.titleSection {
  height: 70vh;
  gap: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    z-index: 10;
    width: fit-content;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  img {
    width: 35vw;
    height: 20vw;
    z-index: -1;
  }
}
.projectInfos {
  display: flex;
  justify-content: space-between;
  align-items: start;
  &Images {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    width: 55vw;
    margin-left: 2rem;
    img {
      width: 45%;
      height: auto;
    }
  }
  &Description {
    width: 40vw;
    position: sticky;
    top: 2rem;
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .stacks {
      display: flex;
      gap: 1rem;
    }
    p {
      font-size: 1.2rem;
      margin-left: 2rem;
      max-width: 30vw;
    }
    a {
      text-decoration: none;
      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 10px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          background-color: #161616;
          color: #fff;
        }
      }
    }
  }
}
.projectVideo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  margin-top: 10vh;
  video{
    width: 60%;
    height: auto;
  }
}
.myWorkOnProject{
  margin-top: 10vh;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .work{
    max-width: 80vw;
    &Detail{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10rem;
      margin-bottom: 10vh;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      &:nth-child(odd) {
        flex-direction: row;
      }
      &Text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 50%;
      }
      img{
        width: 45%;
        height: auto;
      }
    }
    .Task{
      &Title{
        font-size: 2.2rem;
      }
      &Desc{
        font-size: 1.2rem;
        b{
          font-weight: bold !important;
        }
      }
    }
  }
}
@media screen and (width < 700px) {
  .titleSection {
    gap: 0;
    h1 {
      text-align: center;
    }
    img {
      display: none;
    }
  }
  .projectInfos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    &Images {
      width: 90vw;
      img {
        width: 90%;
      }
    }
    &Description {
      width: 80vw;
      margin-bottom: 10vh;
      p {
        max-width: 70vw;
      }
    }
  }
}
