$width: 40vw;
$height: 40vh;

@font-face {
  font-family: DM sans Regular;
  src: url(/fonts/DMSans_18pt-Regular.ttf) format("ttf");
}
.projectContainer {
  width: 100vw !important;
  max-width: 100vw !important;
  margin-left: 0 !important;
  overflow: auto;
  overflow-y: hidden;
  padding-right: 4vw;
  scrollbar-width: none;
}
.projects {
  display: flex;
  gap: 2vw;

  .project {
    a {
      text-decoration: none;
      width: $width;
      height: $height;
      position: relative;
      bottom: 100%;
      &:hover {
        .sail {
          opacity: 1;
        }
      }
    }
    width: $width;
    height: $height;

    img {
      width: $width;
      height: $height;
    }
    .sail {
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      width: $width;
      height: $height;
      background-color: rgba($color: #000000, $alpha: 0.7);
      p {
        color: white;
        font-size: 1.7vw;
        font-family: DM sans Regular, sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}

@media screen and (width < 800px) {
  .projects {
    .project {
      width: 100vw;
      height: 50vh;
      img {
        width: 80vw;
        height: 40vh;
      }
      .sail {
        width: 80vw;
        height: 80vh;
        p {
          font-size: 4vw;
        }
      }
    }
  }
}
@media screen and (width < 600px) {
  .projects {
    max-height: 20vh;
    .project {
      width: 100vw;
      height: 50vh;
      img {
        width: 70vw;
        height: 20vh;
      }
      .sail {
        width: 80vw;
        height: 80vh;
        p {
          font-size: 4vw;
        }
      }
    }
  }
}
