$width: 40vw;
$height: 60vh;

@font-face {
  font-family: DM sans Regular;
  src: url(/fonts/DMSans_18pt-Regular.ttf) format("ttf");
}
.b {
  font-family: DM-sans-Bold-Italic, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: large;
}
.r {
  font-family: DM sans Regular, sans-serif;
  font-weight: 100;
}
.projectContainer {
  width: 100vw !important;
  max-width: 100vw !important;
  margin-left: 0 !important;
  overflow: auto;
  overflow-y: hidden;
  padding-right: 4vw;

  scrollbar-width: auto;
  scrollbar-color: var(--break-black) transparent;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--break-black);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}
.projects {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
  gap: 2vw;

  .project {
    width: $width;
    height: $height;
    max-width: 90vw !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 2vh;

    p {
      color: var(--break-black) !important;
    }

    a {
      text-decoration: none;
      width: $width;
      height: $height;
      position: relative;
      // bottom:100%;
    }
  }

  img {
    width: $width - 10vw;
    height: auto;
  }

  .tags {
    display: flex;
    justify-content: start;
    width: 5vw;
    .tagText{
      color: var(--break-white) !important;
    }
    div {
      width: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--break-white);
      background-color: var(--break-black);
      border-radius: 50px;
      margin-right: 0.5vw;

      p {
        padding: 5px 10px 5px 10px;
        font-size: small;
      }
    }
  }
}

@media screen and (width < 800px) {
  .projects {
    .project {
      width: 100vw;
      height: 50vh;
      img {
        width: 80vw;
        height: 40vh;
      }
      .sail {
        width: 80vw;
        height: 80vh;
        p {
          font-size: 4vw;
        }
      }
    }
  }
}
@media screen and (width < 600px) {
  .projects {
    max-height: 20vh;
    .project {
      width: 100vw;
      height: 50vh;
      img {
        width: 70vw;
        height: 20vh;
      }
      .sail {
        width: 80vw;
        height: 80vh;
        p {
          font-size: 4vw;
        }
      }
    }
  }
}
