@font-face {
  font-family: DM sans Regular;
  src: url(/fonts/DMSans_18pt-Regular.ttf) format("ttf");
}

.topBar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;

  .logoLink {
    padding: 0;
    margin: 0;
    width: 3vw;
    height: 3rem;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    margin: 2vh;
    p {
      font-family: DM sans Regular, sans-serif;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}

/*------ Settings ------*/
.container {
  --color: #161616;
  --size: 3vw;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  fill: var(--color);
}

.moon {
  position: absolute;
  max-width: var(--size);
  animation: keyframes-fill 0.5s;
}

.sun {
  position: absolute;
  display: none;
  max-width: var(--size);
  animation: keyframes-fill 0.5s;
}

/* ------ On check event ------ */
.container input:checked ~ .moon {
  display: none;
}

.container input:checked ~ .sun {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(25deg);
  }
}
@media screen and (width < 800px) {
  .topBar {
    .logoLink {
      width: 3.5vw;
      height: auto;
    }
  }
}
@media screen and (width < 500px) {
  .topBar {
    .logoLink {
      width: 7vw;
      height: auto;
    }
  }
}
