@font-face {
  font-family: DM sans Regular;
  src: url(/fonts/DMSans_18pt-Regular.ttf) format("ttf");
}
@font-face {
  font-family: DM-sans-Bold-Italic;
  src: url(/fonts/DMSans_18pt-BoldItalic.ttf) format("ttf");
}

.b {
  font-family: DM-sans-Bold-Italic, sans-serif;
  font-style: italic;
}
.r {
  font-family: DM sans Regular, sans-serif;
  font-weight: 100;
}

.titleSection {
  height: 100vh;
  gap: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    z-index: 10;
    width: fit-content;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 0;
    .b {
      margin-left: 20%;
    }
  }
  .status {
    margin-left: 20%;
    font-size: 1.2rem;
    font-style: normal;
  }
  img {
    width: 30vw;
    height: 30vw;
    z-index: -1;
  }
}
.whoAmI,
.whatIDO,
.testimonials,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-left: 4vw;
  height: 100vh;
  h2 {
    font-size: 3rem;
  }
  div {
    max-width: 80vw;
  }
}
.whoAmI {
  div {
    font-size: 1.2rem;
  }
}
.testimonials {
  max-width: 70vw;
}
