@font-face {
  font-family: DM sans Regular;
  src: url(/fonts/DMSans_18pt-Regular.ttf) format("ttf");
}
@font-face {
  font-family: DM-sans-Bold-Italic;
  src: url(/fonts/DMSans_18pt-BoldItalic.ttf) format("ttf");
}

.b {
  font-family: DM-sans-Bold-Italic, sans-serif;
  font-style: italic;
}
.r {
  font-family: DM sans Regular, sans-serif;
  font-weight: 100;
}

.titleSection {
  height: 80vh;
  gap: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  h1 {
    z-index: 10;
    width: fit-content;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 0;
    .b {
      margin-left: 20%;
    }
  }
  .status {
    font-size: 2rem;
    font-style: normal;
  }
  img {
    width: 25vw;
    height: 25w;
    z-index: -1;
  }
}

.whatIDO{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-left: 4vw;
  min-height: 100vh;
  h2 {
    font-size: 3rem;
  }
  div {
    max-width: 90vw;
  }
}
.whoAmI {
  div {
    font-size: 1.2rem;
  }
}

@media screen and (width<800px) {
  .titleSection {
    margin-right: 5vw;
    img {
      display: none;
    }
  }
  .opquastCertifContent {
    flex-direction: column;
    img {
      width: 30vw;
    }
  }
}
@media screen and (width < 500px) {
  .whatIDO {
    margin-top: 20vh;
    max-height: 60vh;
  }
  .titleSection {
    h1 {
      font-size: 3rem;
      .b {
        margin-left: 10%;
      }
    }
    img {
      display: none;
    }
    .status {
      font-size: 1rem;
    }
  }
  .opquastCertifContent {
    flex-direction: column;
    img {
      width: 50vw;
    }
  }
}
