.navBar {
  background-color: #161616;
  position: relative;
  z-index: 100;
  color: white;
  width: fit-content;
  padding: 0.5vw;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  position: fixed;
  margin-left: 50vw;
  bottom: 0;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 50vw;
    a {
      text-decoration: none;
      color: white;
    }
    li {
      font-family: DM sans Regular, sans-serif;
    }
  }
}
