.navBar {
  background-color: #161616;
  color: white;
  width: fit-content;
  padding: 0.5vw;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  position: fixed;
  margin-left: 50vw;
  bottom: 0;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 50vw;
    a {
      text-decoration: none;
      color: white;
    }
    li {
      font-family: DM sans Regular, sans-serif;
    }
  }
  //   .iconMenu {
  //     --gap: 5px;
  //     --height-bar: 2.5px;
  //     --pos-y-bar-one: 0;
  //     --pos-y-bar-three: 0;
  //     --scale-bar: 1;
  //     --rotate-bar-one: 0;
  //     --rotate-bar-three: 0;
  //     width: 25px;
  //     display: flex;
  //     flex-direction: column;
  //     gap: var(--gap);
  //     cursor: pointer;
  //     position: relative;
  //   }

  //   .bar {
  //     position: relative;
  //     height: var(--height-bar);
  //     width: 100%;
  //     border-radius: 0.5rem;
  //     background-color: #e5e5e5;
  //   }

  //   .bar1 {
  //     top: var(--pos-y-bar-one);
  //     transform: rotate(var(--rotate-bar-one));
  //     transition: top 200ms 100ms, transform 100ms;
  //   }

  //   .bar2 {
  //     transform: scaleX(var(--scale-bar));
  //     transition: transform 150ms 100ms;
  //   }

  //   .bar3 {
  //     bottom: var(--pos-y-bar-three);
  //     transform: rotate(var(--rotate-bar-three));
  //     transition: bottom 200ms 100ms, transform 100ms;
  //   }

  //   .check-icon:checked + .iconMenu > .bar1 {
  //     transition: top 200ms, transform 200ms 100ms;
  //   }

  //   .check-icon:checked + .iconMenu > .bar3 {
  //     transition: bottom 200ms, transform 200ms 100ms;
  //   }

  //   .check-icon:checked + .iconMenu {
  //     --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
  //     --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
  //     --scale-bar: 0;
  //     --rotate-bar-one: 45deg;
  //     --rotate-bar-three: -45deg;
  //   }
  //   /* FIN ICON-MENU */
}
