@font-face {
  font-family: DM sans Regular;
  src: url(/fonts/DMSans_18pt-Regular.ttf) format("ttf");
}
@font-face {
  font-family: DM-sans-Bold-Italic;
  src: url(/fonts/DMSans_18pt-BoldItalic.ttf) format("ttf");
}
.testimonials {
  max-width: 30vw;
  p {
    font-family: DM sans Regular, sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    > .b {
      font-family: DM-sans-Bold-Italic, sans-serif;
      font-style: italic;
      font-weight: 500;
      font-size: 1rem;
    }
  }
}
.testimonials {
  width: 80vw;
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 30px;
  .testimonial {
    width: 80%;
  }
}
@media screen and (width < 800px) {
  .testimonials {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .testimonial {
      width: 100%;
    }
  }
}
